* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  display: flex;
}

.menu-stepper::after {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 80%;
  left: 12.1%;
  top: 13%;
  z-index: 0;
  background: rgba(200, 200, 200, 1);
}
.menu-stepper li a::before {
  content: "";
  position: absolute;
  background: rgba(200, 200, 200, 1);
  width: 8px;
  height: 8px;
  margin-top: 18px;
  border-radius: 50%;
  left: 11%;
  transform: translateY(-50%);
  z-index: 10;
}

.menu-stepper li a.active::before {
  background-color: rgba(33, 150, 243, 1);
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;

  font-weight: 400;
}

.roboto-c {
  font-family: "Roboto", sans-serif;
}

